.cust-margin{
    background: #e0e0e0;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 5px 25px 0 rgb(0 0 0 / 14%), 0 6px 9px 0 rgb(0 0 0 / 12%);
}
.cust-height{

    height: 70px;
}
.cust-color{
    background: darkslateblue;
}

.btn-custom{

    background: #1f4fcc;
    color: mintcream;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 40px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}