<div class="card ">
    <div class="card-body">
        <div class="row">

            <div class="col-lg-4 settings-page-menu-container">
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fas fa-fw fa-building settings-main-icon"></i>
                    </div>
                    <div class="col-lg-10" style="margin-top:4%;">
                        <div class="row" style="line-height: 30px;">

                            <h4 class="settings-page-header">Company Settings</h4>
                            <p>Update your company and multi store options.</p>
                            <ul style="list-style-type:none;">
                                <li>
                                    <a routerLink="/user-profile/account-information"><i class="fas fa-fw fa-cog settings-page-small-icon"></i>
                                        General Settings</a>
                                </li>
                                <!-- <li>
                                    <a routerLink="/view-stock"><i class="fas fa-fw fa-cog settings-page-small-icon"></i>Manage Inventory</a>
    
                                </li> -->
                                <!-- <li>
                                <a href="/company/company/update?id=1"><i class="fas fa-fw fa-cog settings-page-small-icon"></i>
                                    General Settings</a>
                            </li>
                            <li>
                                <a href="/site/companytype-setupwizard">
                                    <i class="fas fa-fw fa-hat-wizard settings-page-small-icon"></i> Re Run Setup Wizard</a>
                            </li>
                            <li>
                                <a href="/parts/tax-rates"><i class="fas fa-fw fa-dollar-sign"></i> Tax Rates</a>

                            </li>
                            <li>
                                <a href="/company/global-notification/update?id=1 "><i
                                    class="fas fa-fw fa-bell settings-page-small-icon"></i> Global Notification</a>
                            </li>
                            <li>
                                <a href="/company/company-stores">
                                    <i class="fas fa-fw fa-store-alt settings-page-small-icon"></i> Multiple Store Setup</a>
                            </li>
                            <li>
                                <a href="/company/module-management"><i class="fas fa-fw fa-cubes settings-page-small-icon"></i>
                                    Module Management</a>
                            </li> -->
                                <!-- <li>

                                    <a routerLink="/invoice-payment-methods"><i
                                            class="fas fa-fw fa-credit-card settings-page-small-icon"></i> Invoice
                                        Payment
                                        Methods</a>
                                </li> -->
                                <li>
                                    <a routerLink="/disclaimer">
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Disclaimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 settings-page-menu-container">
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fas fa-fw fa-user-circle settings-main-icon"></i>
                    </div>
                    <div class="col-lg-10" style="margin-top:4%;">
                        <div class="row" style="line-height: 30px;">

                            <h4 class="settings-page-header">Job Settings</h4>
                            <p>Add, edit and delete your job settings.</p>

                            <ul style="list-style-type:none;">
                                <li> <a routerLink="/product"><i class="fas fa-fw fa-cog settings-page-small-icon"></i>
                                        Product</a></li>
                                <li> <a routerLink="/service"><i
                                            class="fas fa-fw fa-wrench settings-page-small-icon"></i>
                                        Services</a></li>
                                <li> <a routerLink="/accompanying-items"><i
                                            class="fas fa-fw fa-box settings-page-small-icon"></i> Accompanying
                                        Items</a></li>
                                <li><a routerLink="/brands"><i
                                            class="fas fa-fw fa-copyright settings-page-small-icon"></i> Brands</a></li>
                                <li><a routerLink="/item-types"><i
                                            class="fas fa-fw fa-laptop settings-page-small-icon"></i> Item Types</a>
                                </li>
                                <!-- <li><a routerLink="/repair-types"><i class="fas fa-fw fa-wrench settings-page-small-icon"></i> Repair Types</a></li> -->
                                <li><a routerLink="/job-status"><i
                                            class="fas fa-fw fa-check settings-page-small-icon"></i> Statuses</a></li>
                                <li><a routerLink="/storage-locations"><i
                                            class="fas fa-fw fa-boxes settings-page-small-icon"></i> Storage
                                        Locations</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 settings-page-menu-container">
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fas fa-fw fa-users settings-main-icon"></i>
                    </div>
                    <div class="col-lg-10" style="margin-top:4%;">
                        <div class="row" style="line-height: 30px;">

                            <h4 class="settings-page-header">Employee Settings</h4>
                            <p>Create, edit, delete and view all of your staff.</p>

                            <ul style="list-style-type:none;">
                                <li><a routerLink="/user-profile/personal-information"><i
                                            class="fas fa-fw fa-user settings-page-small-icon"></i> My Account</a></li>
                                <li><a routerLink="/user"><i class="fas fa-fw fa-users settings-page-small-icon"></i>
                                        Manage Users</a></li>
                                        <li><a routerLink="/technicians"><i class="fas fa-fw fa-users settings-page-small-icon"></i>
                                            Manage Technicians</a></li>
                                <li><a routerLink="/user-roles"><i
                                            class="fas fa-fw fa-user-lock settings-page-small-icon"></i> Manage User
                                        Roles</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 settings-page-menu-container">
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fas fa-fw fa-users settings-main-icon"></i>
                    </div>
                    <div class="col-lg-10" style="margin-top:4%;">
                        <div class="row" style="line-height: 30px;">

                            <h4 class="settings-page-header">Part Settings</h4>
                            <p>Create, edit, delete and view your suppliers and categories.</p>

                            <ul style="list-style-type:none;">
                                <li><a routerLink="/category"><i
                                            class="fas fa-fw fa-th-large settings-page-small-icon"></i> Part
                                        Categories</a></li>
                                <li><a routerLink="/supplier"><i
                                            class="fas fa-fw fa-truck-loading settings-page-small-icon"></i> Part
                                        Supplier </a></li>
                                <!-- <a href="/user/auth-parent"><i class="fas fa-fw fa-user-lock settings-page-small-icon"></i> Manage User Roles</a> -->

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 settings-page-menu-container">
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fas fa-fw fa-users settings-main-icon"></i>
                    </div>
                    <div class="col-lg-10" style="margin-top:4%;">
                        <div class="row" style="line-height: 30px;">

                            <h4 class="settings-page-header">Customer Settings</h4>
                            <p>Create, edit, delete and view your customer.</p>

                            <ul style="list-style-type:none;">
                                <li> <a routerLink="/customer-referral"><i
                                            class="fas fa-fw fa-sync settings-page-small-icon"></i> Referrals</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 settings-page-menu-container">
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fas fa-fw fa-at settings-main-icon"></i>
                    </div>
                    <div class="col-lg-10" style="margin-top:4%;">
                        <div class="row" style="line-height: 30px;">

                            <h4 class="settings-page-header">Email Settings</h4>
                            <p>Setup your emails to get the most out of Repair Pilot.</p>

                            <ul style="list-style-type:none;">
                                <li> <a routerLink="/email-settings"><i
                                            class="fas fa-fw fa-envelope-open settings-page-small-icon"></i> Email
                                        Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>