<div class="container"  >
    <div class="row" >

       

            <div class="card login-form" style=" position: absolute;left: 30%;" >
                <div class="card-body">
                    <h3 class="card-title text-center"><strong> Change password</strong></h3>

                    <!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->

                    <div class="card-text">
                        <form [formGroup]="formGroup">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                                <a class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">New password</label> 
                                <input type="password" class="form-control form-control-lg  " name="password"
                                placeholder="Enter New password" autocomplete="off" formControlName="password"
                                [class.is-invalid]="isControlInvalid('password')" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Confirm Password</label> 

                                <input type="password" class="form-control form-control-lg" name="cPassword"
                                placeholder="Enter Confirm password" autocomplete="off" formControlName="cPassword"
                                [class.is-invalid]="isControlInvalid('cPassword')" />
                            <div class="valid-feedback" *ngIf="isControlValid('cPassword')">Password confirmation was entered
                                correct</div>
                            <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'cPassword')">'Passsword'
                                and 'Confirm Password' didn't match.</div>
                            </div>

                            <div class="form-group d-flex flex-wrap pb-lg-0">
                                <button type="submit" (click)="save()" id="kt_login_forgot_submit"
                                    class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">
                                    Submit
                                </button>
                                <a routerLink="/auth/login" id="kt_login_forgot_cancel"
                                    class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
                                    Cancel
                                </a>
                    
                                <ng-container *ngIf="isLoading$ ">
                                    <span class="spinner spinner-primary ml-5"></span>
                                </ng-container>
                            </div>
                            <!-- <button type="submit" class="btn btn-primary btn-block submit-btn">Confirm</button> -->
                        </form>
                    </div>
                </div>
            </div>
       
    </div>
</div>



