<div class="d-flex align-items-center font-weight-bold my-2 ">
  <span class="navi-icon" routerLink="/settings"><i style="font-size: 25px;color: #483d8b;"
      class="flaticon2-gear"></i></span> &nbsp;&nbsp;
      <a   class="navi-text" routerLink="/settings">Back To Settings</a > 
</div>

<div class="card card-custom gutter-b" >
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Service</h3>
    </div>
    <div class=" row">
      <div class="col-8" [formGroup]="searchGroup">
        <div class="card-toolbar">
        <!-- <small class="form-text text-muted"><b>Search</b> in all fields</small> -->
       
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" name="searchText" placeholder="Search" value=""
            formControlName="searchTerm" />
          </div>
      </div>
      </div>
        <div class="col-4">
          <div class="card-toolbar">
            <button type="button" class="btn btn-primary" (click)="editModal()">+ Add</button>
      
          </div>
        </div> 
    </div>
    
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
          <div class="form-group row">
            <!-- <div class="col-lg-4">
              <div class="row" [formGroup]="filterGroup">
                <div class="col-lg-6">
                  <select class="form-control" name="status" placeholder="Filter by Status" formControlName="status">
                    <option value="">All</option>
                    <option value="1">Susspended</option>
                    <option value="2">Active</option>
                    <option value="3">Pending</option>
                  </select><small class="form-text text-muted"><b>Filter</b> by Status</small>
                </div>
                <div class="col-lg-6">
                  <select class="form-control" placeholder="Filter by Type" name="type" formControlName="type">
                    <option value="">All</option>
                    <option value="1">Business</option>
                    <option value="2">Individual</option>
                  </select><small class="form-text text-muted"><b>Filter</b> by Type</small>
                </div>
              </div>
            </div> --> 
          
          </div>
        </div>
    <!-- end: Filtration form -->

    <!-- begin: Grouping -->
    <!-- <ng-container *ngIf="grouping.getSelectedRowsCount()"> -->
    <!-- <div class="form">
            <div class="row align-items-center form-group-actions margin-top-20 margin-bottom-20">
              <div class="col-xl-12">
                <div class="form-group form-group-inline">
                  <div class="form-label form-label-no-wrap">
                    <label class="font-bold font-danger"><span>Selected records count:
                        <b>{{ grouping.getSelectedRowsCount() }}</b></span></label>
                  </div>
                  <div>
                    <button type="button" class="btn btn-danger font-weight-bolder font-size-sm mr-1"
                      (click)="deleteSelected()">
                      <i class="fa fa-trash"></i> Delete All
                    </button>&nbsp;
                    <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-1"
                      (click)="fetchSelected()">
                      <i class="fa fa-stream"></i> Fetch Selected
                    </button>&nbsp;
                    <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-1"
                      (click)="updateStatusForSelected()">
                      <i class="fa fa-sync-alt"></i> Update Status
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
    <!-- </ng-container> -->
    <!-- end: Grouping -->

    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <!-- <th class="selection-cell-header" data-row-selection="true">
                <label class="checkbox checkbox-single"><input type="checkbox" (click)="grouping.selectAllRows()"
                    [checked]="grouping.checkAreAllRowsSelected()" /><span></span></label>
              </th> -->
          <th>
            ID
            <app-sort-icon column="id" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            SERVICE NAME

            <app-sort-icon column="serviceName" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            PRICE
            <app-sort-icon column="price" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>

          <th>ACTIONS</th>
        </thead>
        <tbody>
          <tr *ngFor="let services of serviceService.items$ | async"> 
            <td>{{ services.id }}</td>
            <td>{{ services.serviceName}}</td>
            <td>£ {{ services.price }}</td>
         
            <td>

              <a title="Edit Service" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                (click)="editService(services)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>

              <a title="Delete Service" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                (click)="editDelete(services)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger">
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
          [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
</div>
<!-- <ng-template #openModal let-modal>   -->

<!-- <mat-card *ngIf="isShow == true">
  <mat-card-content> 
    <mat-tab-group class="demo-tab-group" [selectedIndex]="selectedIndex">
      <mat-tab  > 
          <div class="demo-tab-content">
            <div class="modal-header">
              <div class="modal-title h4" id="example-modal-sizes-title-lg">
               
                <span *ngIf="isFlag == 1"> Add Service</span>
                <span *ngIf="isFlag == 2"> Update Service</span>
              </div>
            </div>
            <div class="overlay overlay-block cursor-default modal-body" style="min-height: 200px;">
          
              <ng-container>
                <form action="#" class="form form-label-right" [formGroup]="JobformGroup">
                  <div class="col-lg-12">
                    <div class="form-group cust-height">
                      <label class="form-label">Service Name</label>
                      <input type="text" class="form-control form-control-lg form-control-solid" name="serviceName"
                        placeholder="Enter  Name" autocomplete="off"
                        [class.is-invalid]="isJobControlInvalid('serviceName')" formControlName="serviceName"
                        required />
                      <div class="invalid-feedback" *ngIf="JobcontrolHasError('required', 'serviceName')">Service name
                        is required</div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group cust-height">
                      <label class="form-label"> Price</label>
                      <input type="number" class="form-control form-control-lg form-control-solid " name="price"
                        placeholder="Enter Price" autocomplete="off" [class.is-invalid]="isJobControlInvalid('price')"
                        formControlName="price" required />
                      <div class="invalid-feedback" *ngIf="JobcontrolHasError('required', 'price')">Price is required
                      </div>
                    </div>
                  </div> 
                </form>
              </ng-container>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light btn-elevate mr-2" (click)="closeModal()">Cancel</button>
              <ng-container>
                <button type="submit" (click)="nextButton()" class="btn btn-custom btn-elevate">Save & Next</button>
              </ng-container>
            </div>
          </div>
       
      </mat-tab>
      <mat-tab label="Product List" [disabled]="isShowTab1 == false">
        <div class="demo-tab-content">
          <div class="modal-header">
            <div class="modal-title h4" id="example-modal-sizes-title-lg">
            
              Product List
            </div>
          </div>
          <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;"> 

            <ng-container>
              <form action="#" class="form form-label-right" [formGroup]="formGroup">

                <div class="row">
                  <div class="col-lg-6" style="float: left;">
                    <div class="form-group cust-height">
                      <label class="form-label">Select Product </label>
                      <div class="row">
                        <div class="col-6"> 
                          <mat-form-field>
                            <mat-select (selectionChange)="selectProduct($event.value)"
                              [class.is-invalid]="isControlInvalid('product')" name="product" formControlName="product"
                              [(ngModel)]="productObj.product" placeholder="Select Product">
                              <mat-option>
                                <ngx-mat-select-search [formControl]="productMultiFilterCtrl" [searching]="searching">
                                </ngx-mat-select-search>
                              </mat-option>
                              <mat-option *ngFor="let pro of filteredProductMulti | async" [value]="pro.product">
                                {{pro.product}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field> 
                          <div class="invalid-feedback" *ngIf="controlHasError('required', 'product')">Product name is
                            required</div>

                        </div>
                        <div class="col-6">
                          <button type="button" tooltip="Add Product " placement="top" show-delay="100" (click)="editProductModal()"  style="padding: 12px;"class="btn btn-sm btn-primary" ><i class="fa fa-plus" aria-hidden="true"></i></button>

                        </div> 
                      </div>
                    </div>

                  </div> 
                  <div class="col-lg-6" style="float: left;">
                    <div class="form-group cust-height">
                      <div class="row">
                        <div class="col-6"> 
                          <label class="form-label"> Quantity</label>
                          <input type="number" class="form-control form-control-lg form-control-solid"
                            name="productQuantity" placeholder="Enter Quantity" autocomplete="off"
                            [class.is-invalid]="isControlInvalid('productQuantity')" formControlName="productQuantity"
                            [(ngModel)]="productObj.productQuantity" />
                          <div class="invalid-feedback" *ngIf="controlHasError('required', 'productQuantity')">Quantity
                            is required</div>
                        </div>
                        <div class="col-6">
                          <div class="form-group cust-height">
                            <button type="button" (click)="addProductItem()" style="padding: 12px;margin-top: 12%;"
                              class="btn btn-sm btn-primary">+ Add Item</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
              </form>
            </ng-container>

            <div class="col-6">
              <div class="table-responsive angular-bootstrap-table">
                <table class="table table-head-custom table-vertical-center overflow-hidden">
                  <thead> 

                    <th>
                      NAME 
                    </th>
                    <th>
                      PRICE
                    </th>
                    <th> 
                      QUANTITY 
                    </th>

                    <th>ACTIONS</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of productList"> 
                      <td>{{product.product }}</td>
                      <td>{{product.price}}</td>
                      <td>{{product.quantity}}</td> 

                      <td> 

                        <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                          (click)="editProductDelete(product)">
                          <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                            class="svg-icon svg-icon-md svg-icon-danger">
                          </span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-light btn-elevate mr-2" (click)="closeModal()">Cancel</button>

            <ng-container *ngIf="isFlag == 1">

              <button type="submit" (click)="onSubmit()" [ngStyle]=" {'width':isLoading$ == true ? '20%':'7%'}"
                class="btn btn-custom btn-elevate">Submit <span [ngClass]="{spinner:isLoading$ == true}"
                  style="margin: 15%;"></span></button>
            </ng-container>
            <ng-container *ngIf="isFlag == 2">

              <button type="submit" (click)="updateService()" [ngStyle]=" {'width':isLoading$ == true ? '20%':'7%'}"
                class="btn btn-custom btn-elevate">Update <span [ngClass]="{spinner:isLoading$ == true}"
                  style="margin: 15%;"></span></button>
            </ng-container>

          </div>
        </div> 
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
                    [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>

 
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card> -->

<!-- </ng-template> -->

<!-- Product Modal -->

<ng-template #openModal let-modal>
  <div class="modal-header cust-color">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <!-- <ng-container *ngIf="customer">
          <ng-container *ngIf="customer.id">Edit</ng-container>
          <ng-container *ngIf="!customer.id">Create</ng-container>
       
          <ng-container *ngIf="customer.id">'{{customer.firstName}} {{ customer.lastName }}'</ng-container>
        </ng-container> -->

      <span style="color:aliceblue;"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Product</span>

    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 340px;">
    <!-- <ng-container *ngIf="isLoading$ | async">
       <div class="overlay-layer bg-transparent">
         <div class="spinner spinner-lg spinner-success"></div>
       </div>
     </ng-container>  -->
    <ng-container>
      <form action="#" class="form form-label-right" [formGroup]="productGroup">

        <div class="col-lg-12">
          <div class="form-group cust-height">
            <label class="form-label"> Product Name</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="productName"
              placeholder="Enter Product Name" autocomplete="off"
              [class.is-invalid]="isProductControlInvalid('productName')" formControlName="productName" required />
            <div class="invalid-feedback" *ngIf="ProductcontrolHasError('required', 'productName')">Product Name is
              required</div>

          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group cust-height">
            <label class="form-label"> Sell Price</label>
            <input type="number" class="form-control form-control-lg form-control-solid" name="sellPrice"
              placeholder="Enter Sell Price" autocomplete="off" formControlName="sellPrice" />
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group cust-height">
            <label class="form-label"> Cost Price</label>
            <input type="number" class="form-control form-control-lg form-control-solid" name="costPrice"
              placeholder="Enter Cost Price" autocomplete="off" formControlName="costPrice" />
          </div>
        </div>
        <!-- <div class="col-lg-12">
            <div class="form-group cust-height">
               <label class="form-label">Is WOO Commerce Connected </label> 

               <div class="col-lg-9 col-xl-4">
                   <span class="switch switch-icon">
                     <label>
                       <input
                         type="checkbox"
                         name="stock" (change)="selectWOO($event.target.checked)"  
                         autocomplete="off" [class.is-invalid]="isProductControlInvalid('isWOOConnected')"
                         [class.is-valid]="isProductControlValid('isWOOConnected')" formControlName="isWOOConnected"
                       />
                       <span></span>
                     </label>
                   </span>
                   
                 </div>
              </div>
           </div>

             <div class="col-lg-12" *ngIf="isWooIdSelected != false">
              <div class="form-group cust-height">
               <label class="form-label"> WOO Product ID</label>
               <input   type="text" class="form-control form-control-lg form-control-solid" name="wooProductID"
                 placeholder="Enter WOO Product ID" autocomplete="off" [class.is-invalid]="isProductControlInvalid('wooProductID')"
                 [class.is-valid]="isProductControlValid('wooProductID')" formControlName="wooProductID" />
                
                   <div class="invalid-feedback" *ngIf="ProductcontrolHasError('required', 'wooProductID')">WOO Product ID is required</div>
       
             </div>  
             </div>  -->
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="closeProductModal()">Cancel</button>


    <ng-container>
      <button type="submit" (click)="addProduct()" [ngStyle]=" {'width':isLoading$ == true ? '20%':'17%'}"
        class="btn btn-custom btn-elevate">Submit <span [ngClass]="{spinner:isLoading$ == true}"
          style="margin: 17%;"></span></button>

    </ng-container>
  </div>

</ng-template>

<!-- Product Modal -->

<!-- Confirm Box -->
<ng-template #confrimBox let-modal>

  <div class="modal-header ">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <!-- <ng-container *ngIf="customer">
            <ng-container *ngIf="customer.id">Edit</ng-container>
            <ng-container *ngIf="!customer.id">Create</ng-container>
         
            <ng-container *ngIf="customer.id">'{{customer.firstName}} {{ customer.lastName }}'</ng-container>
          </ng-container> -->
      <span> <i class="fa fa-pencil-circle" aria-hidden="true"></i> Delete Confirmation</span>

    </div>
  </div>

  <!-- <div class="modal-footer">
    <ng-container>
      <button type="submit" (click)="deleteService()" class="btn btn-primary btn-elevate">Yes</button>

      <button type="submit" (click)="closeDelete()" class="btn btn-primary btn-elevate">No</button>
    </ng-container>

  </div> -->

  <div class="modal-body">
    <!-- <ng-container *ngIf="isDeleting">
     <h4>Service is deleting...</h4>
    </ng-container> -->

    <ng-container  >
      <h4>Are you sure to delete this service?</h4>
    </ng-container>
  </div>

  <div class="modal-footer">
    
    <ng-container> 
      <button class="btn btn-danger" [ngStyle]=" {'width':isLoading$  == true ? '25%':'20%'}" (click)="deleteService()"
      data-entity="user" id="userDeleteButton"><span class="fa fa-trash"></span> Delete <span
        [ngClass]="{spinner:isLoading$ == true}" style="margin: 10%;"></span></button>
      
      <button type="button" (click)="closeDelete()" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </ng-container>
  </div>


</ng-template>

<!-- Confirm Box -->


<!-- Confirm Product Delete -->

<!-- <ng-template #confrimProductDelete let-modal>

  <div class="modal-header ">
    <div class="modal-title h4" id="example-modal-sizes-title-lg"> 
      <span> <i class="fa fa-pencil-circle" aria-hidden="true"></i> Delete Confirmation</span>

    </div>
  </div> 

  <div class="modal-body"> 
    <ng-container  >
      <h4>Are you sure to delete this Product?</h4>
    </ng-container>
  </div>

  <div class="modal-footer">
  

    <ng-container> 
      <button class="btn btn-danger" [ngStyle]=" {'width':isDeleting == true ? '25%':'20%'}" (click)="deleteProduct()"
      data-entity="user" id="userDeleteButton"><span class="fa fa-trash"></span> Delete <span
        [ngClass]="{spinner:isDeleting== true}" style="margin: 10%;"></span></button>
      
      <button type="button" (click)="closeDeleteProduct()" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </ng-container>

  </div>


</ng-template> -->


<!-- Product Modal -->

<ng-template #openJobModal let-modal>
  <div class="modal-header cust-color">
    <div class="modal-title h4" id="example-modal-sizes-title-lg"> 

      <span *ngIf="isFlag == 1" style="color:aliceblue;"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Service</span>
      <span *ngIf="isFlag == 2" style="color:aliceblue;"> <i class="fas fa-edit" aria-hidden="true"></i> Update Service</span>

    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 200px;"> 
    <ng-container>
      <form action="#" class="form form-label-right" [formGroup]="JobformGroup">
        <div class="col-lg-12">
          <div class="form-group cust-height">
            <label class="form-label">Service Name</label>
            <input pattern="^(\w+ ?)*$" type="text" class="form-control form-control-lg form-control-solid" name="serviceName"
              placeholder="Enter  Name" autocomplete="off"
              [class.is-invalid]="isJobControlInvalid('serviceName')" formControlName="serviceName"
              required />
            <div class="invalid-feedback" *ngIf="JobcontrolHasError('required', 'serviceName')">Service name
              is required</div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group cust-height">
            <label class="form-label"> Price</label>
            <input type="number" class="form-control form-control-lg form-control-solid " name="price"
              placeholder="Enter Price" autocomplete="off" [class.is-invalid]="isJobControlInvalid('price')"
              formControlName="price" required />
            <div class="invalid-feedback" *ngIf="JobcontrolHasError('required', 'price')">Price is required
            </div>
          </div>
        </div> 
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="closeModal()">Cancel</button> 

    <ng-container *ngIf="isFlag == 1">
      <button type="submit" (click)="onSubmit()" [ngStyle]=" {'width':isLoading$ == true ? '21%':'16%'}"
        class="btn btn-custom btn-elevate">Submit <span [ngClass]="{spinner:isLoading$ == true}"
          style="margin: 15%;"></span></button>

    </ng-container>
    <ng-container *ngIf="isFlag == 2">
      <button type="submit" (click)="updateService()" [ngStyle]=" {'width':isLoading$ == true ? '21%':'16%'}"
        class="btn btn-custom btn-elevate">Update <span [ngClass]="{spinner:isLoading$ == true}"
          style="margin: 15%;"></span></button>

    </ng-container>
  </div> 

</ng-template>

<!-- Product Modal -->